<html>
    <head>
        <title>{{ page.title }}</title>
        <meta name="author" content="Keri Mallari" />
        <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen, projection" />
        <link rel="shortcut icon" type="image/png" href="/keri_favicon.png">
    </head>
    <div id="content">
        <div id="intro">
            <h1><a href="/">Keri Mallari</a></h1>
            <p><img src="https://keri.xyz/keri_avatar.jpg" margin="30px auto" width="500"></p>
            <div id="mini_bio">
                I am a PhD student in the <a href="https://www.hcde.washington.edu/">Human Centered Design and Engineering</a> at the University of Washington. I currently work with <a href="https://faculty.washington.edu/garyhs/">Gary Hsieh</a> in the Prosocial Computing Lab. I received my undergrad degree in Math and Computer Science from <a href="http://www.lehman.cuny.edu/">CUNY Lehman College</a>, where I received a four-year merit scholarship from the <a href="https://macaulay.cuny.edu/">Macaulay Honors College.</a>
            </div>
        </div>
        <div id="links" class="block">
            <div class="link"><a href="/keri_cv.pdf">CV</a></div>
            <!-- <div class="link"><a href="/#research">Research</a></div>
            <div class="link"><a href="/#experience">Experience</a></div> -->
            <div class="link"><a href="https://twitter.com/kerixyz">Twitter</a></div>
            <div class="link"><a href="mailto:kmallari@uw.edu">kmallari@uw.edu</a></div>
        </div>
        {{ content }}
        <div id="footer">
            © 2020 - Keri Mallari
        </div>
    </div>
</html>
