<html>
    <head>
        <title>{{ page.title }}</title>
        <meta name="author" content="Keri Mallari" />
        <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen, projection" />
        <link rel="shortcut icon" type="image/png" href="/assets/keri_favicon.png">
    </head>
    
    <div id="content">
        <div id="intro">
            <h1>Keri Mallari</h1>
            <p><img src="https://keri.xyz/assets/keri_avatar.jpg" margin="30px auto" width="700"></p>
            <div id="mini_bio">
                I am a PhD student at <a href='https://www.hcde.washington.edu/' style='color:#FED766'>UW HCDE</a> advised by <a href='https://faculty.washington.edu/garyhs/' style='color:#FED766'>Dr. Gary Hsieh</a>. My research interests are in the field of human-computer interaction and social computing. I received my undergrad degree from <a href='https://www.lehman.cuny.edu/' style='color:#FED766'>CUNY Lehman College</a> with a BS in CS and a BA in Math support by the <a href = 'https://macaulay.cuny.edu/' style='color:#FED766'>Macaulay Honors Program</a>.</br></br>
                I am a 2021 <a href='https://blog.twitch.tv/en/2021/01/07/introducing-our-2021-twitch-research-fellows/'style='color:#FED766' >Twitch Research Fellow</a>. I'm currently an intern at Twitch working with <a href="http://www.sanjaykairam.com/" style='color:#FED766'>Sanjay Kairam</a>. 
            
            </div>
        </div>
        <div id="links" class="block">
            <div class="link"><a href="mailto:kmallari@uw.edu">kmallari@uw.edu</a></div>
            <div class="link"><a href="/assets/keri_cv.pdf">CV</a></div>
            <!-- <div class="link"><a href="/#research">Research</a></div>
            <div class="link"><a href="/#experience">Experience</a></div> -->
            <div class="link"><a href="https://www.linkedin.com/in/kerixyz/">LinkedIn</a></div>
            <div class="link"><a href="https://twitter.com/kerixyz">Twitter</a></div>
            <div class="link"><a href="https://twitch.tv/kehree">Twitch</a></div>
        </div>
        {{ content }}
        
        <div id="footer">
            © 2021 - Keri Mallari
        </div>
    </div>
</html>
